.product-container {
  background-color: white;
  margin: 10px;
  min-width: 100px;
  width: 100%;
  height: auto;
  max-height: 400px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}


p.title {
    line-height: 1.5;
}
img.product-Image {
  height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}


button.add-to-basket-btn {
    background-color: #F3A847;
    padding: 4px;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29 ;
    color: #111;
    margin-top: 10px;
}